<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ApiHash" value="d4a1f5268c9af7bc69cc336a443b4ac4" />
    <add key="ApiId" value="171836" />
    <add key="NumberToAuthenticate" value="989224913689" />
    <add key="CodeToAuthenticate" value="" />
    <add key="PasswordToAuthenticate" value=""/>
    <add key="NotRegisteredNumberToSignUp" value=""/>
    <add key="NumberToSendMessage" value="989128702514"/>
    <add key="UserNameToSendMessage" value="getmedia_contact"/>
    <add key="NumberToGetUserFull" value=""/>
    <add key="NumberToAddToChat" value="989128702514"/>
  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
</configuration>